/* index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Ocultar los íconos de incremento y decremento en Chrome, Safari y Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Ocultar el spinner */
  margin: 0; /* Eliminar cualquier margen */
}

/* Ocultar los íconos de incremento y decremento en Firefox */
input[type="number"] {
  -moz-appearance: textfield; /* Eliminar el spinner en Firefox */
}


/* Estilos para el Modal */
.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}



/* animacion del cargando... */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
  border: 4px solid #f3f3f3; 
  border-top: 4px solid #cdd9e0; 
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 1s linear infinite;
}


